.navbar{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(215, 140, 252);
}

.navbar .container{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.navbar a{
    display: block;
    padding: .5em;
    text-align: center;
}

.navbar-nav{
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.navbar-nav .nav-item{
    margin: 0.5em;
}



h1{
    text-align: center;
    margin: 0%;
    padding: 0;
}

h5{
    text-align: center;
    margin: 0%;
    padding: 0%;
}

img{
    width: 677px;
    
}


footer{
    background-color: rgb(187, 187, 187);
}




